div.c-sp-fixed-btn
  ul.c-sp-fixed-btn__list
    li#js-fixed-play.c-sp-fixed-btn__list__item
      img.c-sp-fixed-btn__list__item__icon(src=`${relativePath}assets/img/icon/play.svg` alt="")
      p.c-sp-fixed-btn__list__item__txt 遊ぶ
    li#js-fixed-eat.c-sp-fixed-btn__list__item
      img.c-sp-fixed-btn__list__item__icon(src=`${relativePath}assets/img/icon/eat.svg` alt="")
      p.c-sp-fixed-btn__list__item__txt 食べる
    li#js-fixed-stay.c-sp-fixed-btn__list__item
      img.c-sp-fixed-btn__list__item__icon(src=`${relativePath}assets/img/icon/hotel.svg` alt="")
      p.c-sp-fixed-btn__list__item__txt 泊まる
    li.c-sp-fixed-btn__list__item
      a.c-sp-fixed-btn__list__item_inner(href="")
        img.c-sp-fixed-btn__list__item__icon(src=`${relativePath}assets/img/icon/map.svg` alt="")
        p.c-sp-fixed-btn__list__item__txt アクセス
    li.c-sp-fixed-btn__list__item.c-sp-fixed-btn__list__item--reserve
      a.c-sp-fixed-btn__list__item_inner(href="")
        img.c-sp-fixed-btn__list__item__icon(src=`${relativePath}assets/img/icon/calendar-w.svg` alt="")
        p.c-sp-fixed-btn__list__item__txt.c-sp-fixed-btn__list__item__txt--reserve 予約・料金する
